extends ../../layouts/default.pug

block main
    h1 Trang chủ
    
    a(href="/admin/dashboard") Đi đến trang tổng quan của admin 

    br 

    a(href="/products") Đi đến trang sản phẩm của client

   
