mixin search()
    input.form-control(
        type="text" 
        placeholder="Tìm kiếm..." search-input
    )
    button#search-button.btn.btn-sm.btn-outline-primary(
        type="button"
    ) Tìm kiếm